<div class="card">
    <div class="card-header text-center">
        <h3>Create Project</h3>
    </div>
    <form (submit)="addProject()">
        <div class="card-body">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-font"></i> </span>
                </div>
                <input type="text" [(ngModel)]="project.title" name="title" class="form-control" placeholder="Title"
                    autofocus required>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-list-ul"></i> </span>
                </div>
                <input type="text" [(ngModel)]="project.description" name="description" class="form-control"
                    placeholder="Description" required>
            </div>
        </div>
        <div class="card-footer text-center">
            <a [swal]="{ icon: 'warning', title: 'He wants to return?', text: 'The data has not been saved', showCancelButton: true, confirmButtonText: 'Return', confirmButtonColor: '#ff9234', cancelButtonColor: '#d9534f'}"
                (confirm)="return()" class="return btn btn-danger">
                <i class="fas fa-undo"></i> Cancel
            </a>
            <button class="btn btn-primary"><i class="fas fa-save"></i> Save</button>
        </div>
    </form>
</div>